<!--<h4>{{room.id}}</h4>-->
<!--<p>{{room.name}}</p>-->
<!--<p>{{room.temperature}}</p>-->
<!--<p>{{room.humidity}}</p>-->
<!--<p>{{room.light}}</p>-->


<!--<div class="row">-->
    <div class="col-md-3 col-sm-6">
        <div class="statistic-block block">
            <div class="progress-details d-flex align-items-end justify-content-between">
                <div class="title">
                    <div class="icon"></div><strong>{{ room.name }}</strong>
                </div>
                <div class="number dashtext-1">{{ room.light }}</div>
            </div>
            <div class="progress progress-template">
                <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
            </div>
        </div>
    </div>
<!--</div>-->
