<div class="row">
  <div class="col-lg-8">
    <div class="messages-block block">
      <div class="title"><strong>New Messages</strong></div>
      <div class="messages"><a href="#" class="message d-flex align-items-center">
        <div class="profile"><img src="img/avatar-1.jpg" alt="..." class="img-fluid">
          <div class="status busy"></div>
        </div>
        <div class="content">   <strong class="d-block">Sam Kaheil</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">6:55am</small></div></a><a href="#" class="message d-flex align-items-center">
        <div class="profile"><img src="img/avatar-5.jpg" alt="..." class="img-fluid">
          <div class="status offline"></div>
        </div>
        <div class="content">   <strong class="d-block">Sara Wood</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">10:30pm</small></div></a><a href="#" class="message d-flex align-items-center">
        <div class="profile"><img src="img/avatar-1.jpg" alt="..." class="img-fluid">
          <div class="status online"></div>
        </div>
        <div class="content">   <strong class="d-block">Nader Magdy</strong><span class="d-block">lorem ipsum dolor sit amit</span><small class="date d-block">9:47pm</small></div></a></div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="checklist-block block">
      <div class="title"><strong>To Do List</strong></div>
      <div class="checklist">
        <div class="item d-flex align-items-center">
          <input type="checkbox" id="input-1" name="input-1" class="checkbox-template">
          <label for="input-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
        </div>
        <div class="item d-flex align-items-center">
          <input type="checkbox" id="input-2" name="input-2" checked class="checkbox-template">
          <label for="input-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
        </div>
        <div class="item d-flex align-items-center">
          <input type="checkbox" id="input-3" name="input-3" class="checkbox-template">
          <label for="input-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</label>
        </div>
      </div>
    </div>
  </div>

</div>
